@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&family=VT323&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	width: 100%;
}

.fullwidth {
	width: 100%;
}

html {
	font-size: 62.5%;
	background-image: url("./assets/background-151.png");
}

html,
body {
	margin: 0;
	place-items: center;
	min-height: 100dvh;
	line-height: 1.5;
	font-weight: 400;
}

body {
	max-width: 1440px;
	width: 100%;
	padding: 20px 20px 0 20px;
	margin: 0 auto;
}

header {
	padding: 20px 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid white;
	border-radius: 10px;
}

.header__div-h1 {
	width: 30%;
}

.header__div-h1 h1 {
	display: flex;
	flex-direction: row;
	font-family: "Press Start 2P", sans-serif;
	font-size: calc(clamp(1.6rem, 1.429vw + 1.143rem, 3.2rem));
	line-height: 1.1;
}

.header__div-nav {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: "VT323", monospace;
}

.header__div-nav a {
	text-decoration: none;
	color: #111;
	display: flex;
	flex-direction: row;
	align-items:flex-end;
	justify-content: center;
}

.header__div-nav a img {
	width: 36px;
	height: 36px;
}

.header__div-nav a span {
	font-size: calc(clamp(1.2rem, 1.071vw + 0.857rem, 2.4rem));
	line-height: 1.1;
}

.header__div-cuenta {
	width: auto;
	display: flex;
	flex-direction: row;
	padding: 0 0 0 20px;
	font-family: "VT323", monospace;
}

.header__div-cuenta img {
	width: 32px;
	height: 32px;
}

.header__div-cuenta span {
	font-size: 2.4rem;
}

.bienvenida {
	font-size: 2.4rem;
	font-family: "Inter", sans-serif;
}

.glass {
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(5px) saturate(150%);
	backdrop-filter: blur(5px) saturate(150%);
	border-radius: 10px;
	padding: 2rem 3rem;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.7);
	color: #111;
}

.div-PopUp {
	width: 35rem;
	min-height: 25rem;
	height: auto;
	margin: auto;
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.div-PopUp span {
	font-size: 2rem;
	text-align: center;
}

.div__popUp-X {
	display: inherit;
	width: 100%;
	justify-content: flex-end;
}

.div__popUp-Button {
	display: inherit;
	justify-content: flex-end;
}

button {
	border-radius: 10px;
	border: 1px solid transparent;
	padding: 10px 15px;
	font-size: 1.5rem;
	font-weight: 400;
	font-family: inherit;
	background-color: rgba(153, 126, 191, 1);
	color: #FFF;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #333;
		background-color: #fff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
